<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8" />    
    <meta name=”viewport” content=”width=device-width,initial-scale=1,shrink-to-fit=no″>
    <!-- stylesheet-->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" >
	<link th:href="@{/css/layout/layout.css}" rel="stylesheet" >
    <!-- stylesheet END-->
</head>
<body>
    <!-- ヘッダ　-->
    <nav layout:replace="~{layout/header::header}"></nav>
    <!-- メニュー　-->
    <div class="conteiner-fluid">
        <div class="row">
            <nav class="col-sm2 bg-light sidebar pt-2">
                <div layout:replace="~{layout/menu::menu}"></div>
            </nav>
        </div>
    </div>
    <!-- コンテンツ -->
    <div class="conteiner-fluid">
        <div class="row">
            <nav class="col-sm10 offset-sm-2 main">
                <div layout:fragment="content"></div>
            </nav>
        </div>
    </div>
    <!-- script-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- script END-->
</body>
</html>